.footer__container {
  padding: 100px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer__text {
  font-size: 2rem;
  line-height: 1.33;
}

.footer__contact li {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.footer__copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  margin: 0 auto;
}

.footer__question-title {
  font-size: 3rem;
  margin-top: 2em;
}

.underline__word {
  border-bottom: 1px solid #ff3;
}

@media (max-width: 800px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer__question-title {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
  }

  .footer__text {
    font-size: 1.5rem;
    padding: 0;
    margin-top: -40px;
    text-align: center;
  }

  .footer__contact li {
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 10px;
  }

  .footer__copy {
    margin-top: 1em;
  }
}

@media (max-width: 600px) {
  .footer__question-title {
    font-size: 1.25em;
    max-width: 100%;
  }

  .footer__text,
  .footer__contact {
    font-size: 1.25em;
    text-align: center;
  }

  .footer__copy {
    font-size: 1em;
  }
}
